<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Nital Patel</title>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="profile.css">
</head>
<body>
<div class="content">
    <section class="general-info">
        <h1>Nital Patel</h1>

    </section>

</div>
</body>
</html>


